/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-text: #363636;
  --color-background: whitesmoke;
  --color-background-dark: #363636;
  --color-container: white;
  --color-primary: rgb(129, 65, 246);
  --color-secondary: rgb(201, 180, 255);
  --color-primary-light: rgb(242, 242, 252);
  --color-hover: rgb(226, 226, 234);
  --color-disable: rgb(202, 202, 202);

  /* Decoration */
  --card-border-radius: 10px;

  /* Font */
  --font-size-headline-5: 24pt;
  --font-size-headline-6: 20pt;
  --font-size-subtitle-1: 16pt;
  --font-size-subtitle-2: 14pt;
  --font-size-body-1: 16pt;
  --font-size-body-2: 14pt;
  --font-size-caption: 12pt;
  --font-size-button: 14pt;
  --font-size-overline: 10pt;

  --font-weight-headline-5: normal;
  --font-weight-headline-6: 500;
  --font-weight-subtitle-1: normal;
  --font-weight-subtitle-2: 500;
  --font-weight-body-1: normal;
  --font-weight-body-2: normal;
  --font-weight-caption: normal;
  --font-weight-button: 500;
  --font-weight-overline: normal;

  /* Size */
  --sidemenu-width: 280px;
  --small-sidemenu-width: 120px;
  --header-height: 60px;

  /* Breakpoint */
  --tablet-breakpoint: 768px;
  --tablet-breakpoint: 1024px;
  --desktop-breakpoint: 1200px;
  --max-breakpoint: 1710px;
}

#app {
  height: 100vh;
  margin: 0 auto;
  font-weight: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  word-spacing: 2px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Hide the spin buttons in Chrome, Safari, Edge, and Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spin buttons in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
