/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-text: black;
  --color-background: whitesmoke;
  --color-card: white;
  --color-main: rgb(103, 70, 237);
  --color-main-light: rgba(167, 152, 226, 0.496);
  --color-disable: rgb(202, 202, 202);

  /* Decoration */
  --deco-card-border-radius: 8px;

  /* Font */
  --font-size-title-1: 26pt;
  --font-size-title-2: 20pt;
  --font-size-headline: 16pt;
  --font-size-body: 13pt;
  --font-size-caption: 10pt;

  --font-weight-title-1: 600;
  --font-weight-title-2: 600;
  --font-weight-headline: normal;
  --font-weight-body: normal;
  --font-weight-caption: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title1 {
  font-size: var(--font-size-title-1);
  font-weight: var(--font-weight-title-1);
}

.title2 {
  font-size: var(--font-size-title-2);
  font-weight: var(--font-weight-title-2);
}

.headline {
  font-size: var(--font-size-headline);
  font-weight: var(--font-weight-headline);
}

.body {
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
}

.caption {
  font-size: var(--font-size-caption);
  font-weight: var(--font-weight-caption);
}
